{% extends "layout.html" %}
{% block content %}
<h2> Helicorder Data Viewer </h2>
<form class="tab" method="POST">
        {{ form.csrf_token }}
        <p>{{ form.heli_channel.label }} {{ form.heli_channel() }}</p>
        <p>{{ form.sdate.label }} {{ form.sdate() }} {{ form.stime() }}</p>
        <p>{{ form.edate.label }} {{ form.edate() }} {{ form.etime() }}</p>
        {% for field, errors in form.errors.items() %}
            <small class="form-text text-muted">
                {{ ', '.join(errors) }}
            </small>
        {% endfor %}
        {{ form.submit() }}
</form>
<p class="tab"> All plot times in UTC </p>
<hr>
<img id="plotheli" src="/plot/heli" alt="" class="center">
{% endblock %}